*.pyc
.cache
.com.apple.timemachine.supported

bin/docs/
bin/htmlcov/
bin/processed_metadata/
build/
dist/
log/
*.egg-info/
bin/driver_file_built
bin/printed_global_files

.eggs/
.tox/
.coverage
commands.log
.vscode/launch.json
.vscode/settings.json

.pytest_cache/
