# Auto detect text files and perform LF normalization
# We explicitly set eol to LF on checkin and checkout
*.py text=set eol=lf
*.rst text=set eol=lf
*.inc text=set eol=lf
*.md text=set eol=lf
*.ini text=set eol=lf
*.txt text=set eol=lf
*.yml text=set eol=lf
VERSION text=set eol=lf
*.mak text=set eol=lf
Makefile text=set eol=lf
License text=set eol=lf
*.rc text=set eol=lf
*.mako text=set eol=lf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
