; This file controls what modules are examined for code coverage in our system tests.

[run]
omit =
    ; Common code, so covered by nifake unit tests.
    ; Some modules don't even exercise all of _attributes.py and _converters.py, making parts unreachable in system tests.
    */__init__.py
    */_attributes.py
    */_converters.py
    */errors.py
    */_library_singleton.py
    */_visatype.py

    ; Although the enum names and values vary between modules, all enums are mostly the same. nifake unit tests cover the various kinds that we use.
    */enums.py

    ; I really think we shouldn't omit this. It's the public API that all of our system tests call.
    */session.py

    ; Most of the lines in *_pb2.py are only used for the pure-Python implementation of protobuf, and the default implementation nowadays is the upb C implementation.
    */*pb2.py

    ; *_pb2_grpc.py defines a stub, a servicer, and an "experimental API", and we only use the stub.
    ; If our system test coverage of the stub_interpreter is okay, we should be in good shape.
    */*_pb2_grpc.py

