; This file controls what modules are examined for code coverage in our unit tests.
; See https://coverage.readthedocs.io/en/latest/source.html#source

[run]
; Fileset is restricted to include matches, first
; Unfortunately, all of these patterns will be ignored, because we pass --source, when running the unit tests.
include =
    ; nifake is tested entirely by unit tests. Its sole purpose is to test code that is common to all APIs
    */nifake/*
    ; System testing is preferred, but some published modules have code that's easier to test with a unit test
    */nidcpower/lcr_load_compensation_spot.py
    */nidcpower/lcr_measurement.py
    */nidigital/session.py
    */nimodinst/session.py
    */niscope/waveform_info.py
    */nitclk/session.py
    build/*
; Any include matches that match omit patterns are removed
omit =
    ; Covered by system tests
    */_library*

    ; Everthing below here needs to be explicitly excluded because "include" is ignored.

    ; Covered by nifake unit tests
    */nidcpower/_*
    */nidcpower/enums.py
    */nidcpower/errors.py
    */nidcpower/session.py
    */nidigital/__init__.py
    */nidigital/_attributes.py
    */nidigital/_converters.py
    */nidigital/_visatype.py
    */nidigital/errors.py
    */nimodinst/__init__.py
    */nimodinst/_converters.py
    */nimodinst/_visatype.py
    */nimodinst/errors.py
    */niscope/_*
    */niscope/enums.py
    */niscope/errors.py
    */niscope/measurement_stats.py
    */niscope/session.py
    */nitclk/__init__.py
    */nitclk/_attributes.py
    */nitclk/_converters.py
    */nitclk/_visatype.py
    */nitclk/errors.py
