# This isn't a full-fledged requirements file, yet. It's just a single unpinned dependency that we needed to fix our documentation builds.
# TODO(ni-jfitzger): Create requirements file for docs to make builds reproducible. See https://github.com/ni/nimi-python/issues/1968
# Note: Our nimi-python readthedocs project used the defaults here: https://docs.readthedocs.io/en/stable/build-default-versions.html#external-dependencies
sphinx_rtd_theme