name: nimibot_win_32

on:
  pull_request:
    branches:
      - master
      - releases/*
    paths-ignore:
      - CHANGELOG.md
      - CONTRIBUTING.md
      - .gitattributes
      - LICENSE
      - VERSION
    types: [ opened, synchronize, reopened ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  do-the-job1:
      name: system_test
      runs-on: 
      - self-hosted
      - windows
      - x64
      - rdss-nimibot-win-10-py32
      timeout-minutes: 80
      strategy:
        matrix:
          module_name:
            [
              "nidigital",
              "nitclk",
              "nifgen",
              "nidcpower",
              "nidmm",
              "niscope",
              "nimodinst",
              "nise",
              "niswitch",
            ]
      steps:
        - name: checkout repository
          uses: actions/checkout@v2
        - name: execute system tests
          uses: ./.github/actions/windows
          with:
            module_name: ${{ matrix.module_name }}
        - name: upload coverage
          uses: codecov/codecov-action@v3
          with:
            flags: ${{ matrix.module_name }}systemtests
            name: ${{ matrix.module_name }}
            files: ./generated/${{ matrix.module_name }}/coverage.xml
