name: nimibot_rhel_64

on:
  pull_request:
    branches:
      - master
      - releases/*
    paths-ignore:
      - CHANGELOG.md
      - CONTRIBUTING.md
      - .gitattributes
      - LICENSE
      - VERSION
    types: [review_requested, ready_for_review, synchronize]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  do-the-job1:
    name: system_tests_rhel64
    runs-on: 
    - self-hosted
    - linux
    - x64
    - rdss-nimibot-rhel-83-py64
    timeout-minutes: 40
    strategy:
      matrix:
        module_name: ["nidmm", "niswitch"]
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: Execute system tests
        uses: ./.github/actions/linux
        with:
          module_name: ${{ matrix.module_name }}